@using SmartPortalApp.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add New User</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Users List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr style="font-size:10px">
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Role
            </th>
            <th>
                Edit
            </th>
            <th>
                View
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-size:10px">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId"style="font-size:10px" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserId"style="font-size:10px" class="btn btn-warning">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.UserId"style="font-size:10px" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
