@model SmartPortalApp.Models.Transfer

@{
    ViewData["Title"] = "Delete";
}


<h5>Are you sure you want to delete this?</h5>
<div>
    <h6>Application details</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            Current Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromCourseId)
        </dd>
        <dt class="col-sm-2">
            To Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToCourseId)
        </dd>
     
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransferStatus)
        </dd>
        <dt class="col-sm-2">
            Dean Approval
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeanApproval)
        </dd>
        <dt class="col-sm-2">
            Chairman Approval
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChairamnApproval)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TransferId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>
