@model SmartPortalApp.Models.Transfer

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Application Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            Current Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromCourse.Name)
        </dd>
        <dt class="col-sm-2">
            To Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToCourse.Name)
        </dd>
    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransferStatus)
        </dd>
        <dt class="col-sm-2">
            Dean Approval
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeanApproval)
        </dd>
        <dt class="col-sm-2">
            Chairman Approval
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChairamnApproval)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransferId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
