@model IEnumerable<SmartPortalApp.Models.Transfer>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Application</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Aplication</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr style="font-size:10px">
                    <th>
                        Student
                    </th>
                    <th>
                        RegNo
                    </th>
                    <th>
                        Current Course
                    </th>
                    <th>
                        To Course
                    </th>
                    <th>
                        KCPE
                    </th>
                    <th>
                        KCSE
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reason)
                    </th>
                    <th>
                        Transfer Status
                    </th>
                    <th>
                        Dean Approval
                    </th>
                    <th>
                        Chairman Approval
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        View
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size:10px">
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.RegNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FromCourse.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToCourse.Name)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Student.UploadKCPE))
                            {
                                <a href="@item.Student.UploadKCPE" target="_blank" title="View KCPE Document">
                                    <i class="fas fa-file-pdf text-danger"></i> <!-- Font Awesome icon -->
                                </a>
                            }
                            else
                            {
                                <span class="text-muted">No file</span>
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Student.UploadKCSE))
                            {
                                <a href="@item.Student.UploadKCSE" target="_blank" title="View KCSE Document">
                                    <i class="fas fa-file-pdf text-danger"></i> <!-- Font Awesome icon -->
                                </a>
                            }
                            else
                            {
                                <span class="text-muted">No file</span>
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransferStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeanApproval)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChairamnApproval)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TransferId" style="font-size:10px" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.TransferId" style="font-size:10px" class="btn btn-warning">View</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</<div>
</div>
