@model SmartPortalApp.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Student Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Middle Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Registration No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identity)
        </dd>
        <dt class="col-sm-2">
            KCSE Grade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KCSEGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class="col-sm-2">
            Created On
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            Modified By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            Modified On
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId" class="btn btn-warning">Edit Form</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
